# Created by .gitignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Translations
*.pot

# Django stuff:
*.log

# Project’s settings.py
sistema/settings_local.py

# Database
db.sqlite3

# Other folders
.idea
venv/

docs/build*
docs/source/_static/
docs/source/_templates/

# Uploaded images
media/*
