Django
html5lib
reportlab
six
xhtml2pdf
Pillow
beautifulsoup4
django-cities-light
django-autocomplete-light
django-solo
django-cleanup
requests
django-modeltranslation
django-suit
psycopg2>=2.7.5
psycopg2-binary>=2.7.7