{% load i18n admin_static %}
<html>

    <head>
        <meta charset="UTF-8">
        <title>Anexo 7</title>
    </head>

    <body>

        <br />

        <div class="title">
            <p>ANEXO 7</p>
            <p>DO MANUAL DE PRESTAÇÃO DE CONTAS</p>
            <p>RECIBO DE REEMBOLSO DE RECURSOS AO VISITANTE REFERENTE</p>
            <p>À AQUISIÇÃO DE PASSAGEM AÉREA-TERRESTRE / SEGURO SAÚDE</p>
        </div>

        <br />
        <br />

        <div class="value">
            <p>Recibo: R$ {{ value }}</p>
        </div>

        <br />
        <br />

        <div class="text">
            <p>Recebi {% if choice == '2' %}de {{ principal_investigator.full_name }}{% else %} da FAPESP{% endif %}, a importância de R${{ value }} ({% if value > 0 and value < 2 %}{{ amount }} real{% elif value > 1 %}{{ amount }} reais{% else %}{% endif %}{% if amount and cents %} e {% endif %}{% if cents %}{{ cents }} centavos{% endif %}) pagos com recursos relativo ao processo FAPESP nº {{ process }}, referente ao reembolso de {{ reimbursement }} utilizado no trecho {{ stretch }} {% if start_date and end_date %}no período de {{ start_date | date:"d/m/Y" }} até {{ end_date | date:"d/m/Y" }}{% else %}na data {{ start_date | date:"d/m/Y" }}{% endif %}, com a finalidade de desenvolvimento de pesquisa.</p>
        </div>

        <br />

        <div class="infos">
            <p>
                Local e data: São Paulo, {{ date.day }}&emsp; de {{ date|date:"F" }}&emsp; de {{ date|date:"Y" }}
            </p>

            <p>Nome: {{ person.full_name }}</p>

            <p>______________________________________________</p>
            <p>Assinatura</p>

            {% if person.rg %}
                <p>Nº documento de Identidade: {{ person.rg }}</p>
            {% endif %}

            {% if person.passport %}
                <p>Passaporte Nº:  {{ person.passport }}</p>
            {% endif %}

            <p>Endereço (Rua/Av./Pça): {{ person.street }}</p>

            <p>Número: {{ person.number }} &emsp;&emsp;&emsp;&emsp; {% if person.district %}Bairro: {{ person.district }}{% endif %}</p>

            <p>Cidade: {{ person.city }}{% if person.state %}, {{ person.state }}{% endif %}{% if person.zipcode %}- CEP: {{ person.zipcode }} {% endif %}</p>

        </div>

        <br />

        <div class="footer">
            <p>FAPESP, NOVEMBRO DE 2012</p>
        </div>

    </body>

</html>