{% extends "admin/base.html" %}
{% load i18n admin_static %}

{# Info added manually because of the Django default template #}
{% block title %} NIRA {% endblock %}
{% block branding %} <h1 id="site-name">NIRA</h1> {% endblock %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#{% endblock %}#}


{# Additional CSS includes #}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'js/jquery/themes/base/jquery-ui.css' %}">
<script src="{% static 'js/jquery/external/jquery/jquery.js' %}"></script>
<script src="{% static 'js/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>

{% endblock %}

{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    <div class="header-content">#}
{#        {% get_current_language as LANGUAGE_CODE %}#}
{#        {% get_available_languages as LANGUAGES %}#}
{#        {% get_language_info_list for LANGUAGES as languages %}#}
{#        <div>#}
{#            {% for language in languages %}#}
{#                {% if language.code != LANGUAGE_CODE %}#}
{#                    <a href="/language/{{ language.code }}?next={{ request.get_full_path }}">#}
{#                        <i class="icon-globe"></i> {{ language.name_local }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Custom usertools, a language switcher #}
{% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endblock %}
        {% block userlinks %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                {% if language.code != LANGUAGE_CODE %}
                    <a href="/language/{{ language.code }}?next={{ request.get_full_path }}">
                        {{ language.name_local }}
                    </a> |
                {% endif %}
            {% endfor %}
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> |
                {% endif %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> |
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>

{% endblock %}

{# Footer links (left side) #}
{% block footer_links %}
  {% trans "Supported by" %} <a href="http://www.fapesp.br" target="_blank">FAPESP</a>  |
  {% trans "Developed by" %} <a href="http://neuromat.numec.prp.usp.br" target="_blank">NeuroMat</a>
{% endblock %}

{# Footer branding name (center) #}
{% block footer_branding %}
{% endblock %}

{# Footer copyright (right side) #}
{% block copyright %}
    <strong>{% trans "NIRA version:" %} 0.6 </strong> <br>
    {% trans "NIRA is licensed under" %} Mozilla Public License Version 2.0
{% endblock %}