{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li>{% trans 'Home' %}</li>
</ul>
{% endblock %}

{% block object-tools %}
<ul class="nav navbar-nav">
    {% for app in app_list %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% render_with_template_if_exist app.name|lower|add:"/admin_app_name.html" app.name %} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for model in app.models %}
                <li>
                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}">{{ model.name }}</a>
                    {% else %}
                        {{ model.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <div id="content-main" class="col-md-12">
        <div class="jumbotron">
            <h3>{% trans "About NIRA" %}</h3>
            <p align="justify" style="font-size:16px;">{% trans "Main goals of the NeuroMat Individual Report of Activities (NIRA) are twofold. Firstly, it will automatically feed NeuroMat's annual Report of Activities, a document that is submitted annually to the São Paulo Research Foundation (FAPESP). Secondly, it will serve as a direct liaison of each investigator and NeuroMat's administrative body, especially in the identifying and processing of needs for the course of NeuroMat-related activities." %}</p>
        </div>
    </div>
    <div id="content-main" class="col-md-12">
        <div class="jumbotron">
            <h3>{% trans "See your orders" %}</h3>
            <p align="justify" style="font-size:16px;">{% trans "Track the status of your order, if you have any questions, please contact us at (11) 3091-1716 or via e-mail at ti@numec.prp.usp.br." %}</p>
            <p><a class="btn btn-primary btn-lg" style="font-size:16px;" href="/admin/order/order/" role="button">{% trans "Check" %}</a></p>
        </div>
    </div>
</div>
<footer class="text-right"><strong>NIRA version: </strong>0.1</footer>
{% endblock %}

{% block sidebar %}
{% endblock %}
