{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li>{% trans 'Home' %}</li>
</ul>
{% endblock %}

{% block object-tools %}
<ul class="nav navbar-nav">
    {% for app in app_list %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% render_with_template_if_exist app.name|lower|add:"/admin_app_name.html" app.name %} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}" class="table table-striped table-bordered" style="width: 430px;">
                {% for model in app.models %}
                    {% if not model.perms.list_hide %}
                    <tr>
                        <th scope="row">
                            {% if model.admin_url %}
                            <a href="{{ model.admin_url }}">{{ model.name }}</a>
                            {% else %}
                            {{ model.name }}
                            {% endif %}

                            {% if model.add_url or model.admin_url%}
                            <div class="pull-right">
                                {% if model.add_url %}
                                <a href="{{ model.add_url }}" class="btn btn-xs addlink"><span class="glyphicon glyphicon-plus"></span>
                                {% trans 'Add' %}</a>
                                {% endif %}
                                {% if model.admin_url %}
                                <a href="{{ model.admin_url }}" class="btn btn-xs changelink"><span class="glyphicon glyphicon-edit"></span>
                                {% trans 'Change' %}</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </th>
                    </tr>
                    {%  endif %}
                {% endfor %}
            </table>
        </ul>
    </li>
    {% endfor %}
</ul>
{% if user.is_superuser or user.investigator.is_nira_admin %}
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Reports" %} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <table class="table table-striped table-bordered" style="width: 200px;">
                <tr><th scope="row"><a href="order/list_order">Orders</a></th></tr>
                <tr><th scope="row"><a href="order/scientific_missions">Scientific missions</a></th></tr>
                <tr><th scope="row"><a href="activity/seminars">Seminars</a></th></tr>
                <tr><th scope="row"><a href="activity/training_programs">Training programs</a></th></tr>
            </table>
        </ul>
    </li>
</ul>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div id="content-main" class="col-md-12">
        <div class="jumbotron">
            <h3>{% trans "About NIRA" %}</h3>
            <p align="justify" style="font-size:16px;">{% trans "Main goals of the NeuroMat Individual Report of Activities (NIRA) are twofold. Firstly, it will automatically feed NeuroMat's annual Report of Activities, a document that is submitted annually to the São Paulo Research Foundation (FAPESP). Secondly, it will serve as a direct liaison of each investigator and NeuroMat's administrative body, especially in the identifying and processing of needs for the course of NeuroMat-related activities." %}</p>
        </div>
    </div>
    <div id="content-main" class="col-md-12">
        <div class="jumbotron">
            <h3>{% trans "See your orders" %}</h3>
            <p align="justify" style="font-size:16px;">{% trans "Track the status of your order, if you have any questions, please contact us at nira@numec.prp.usp.br." %}</p>
            <p><a class="btn btn-primary btn-lg" style="font-size:16px;" href="/admin/order/order/" role="button">{% trans "Check" %}</a></p>
        </div>
    </div>
</div>
<footer class="text-right"><strong>{% trans "NIRA version:" %} </strong>0.1</footer>
{% endblock %}

{% block sidebar %}
{% endblock %}
